#### Import necessary libraries

In [3]:
import pandas as pd
import os

#### Merge data from each month into one CSV

In [6]:
files = [file for file in os.listdir("./Sales_Data")] # We took 12 csv file easily.
all_months_data = pd.DataFrame() # We create null DF. We'll add 12 csv into to this DF.

for file in files:
    df = pd.read_csv("./Sales_Data/"+file)
    all_months_data = pd.concat([all_months_data , df])
    
all_months_data.to_csv("my_all_months.csv" , index = False)

#### Read in updated dataframe

In [7]:
df = pd.read_csv("./Sales_Data/my_all_months.csv")
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

### Clean up the data!
The first step in this is figuring out what we need to clean. I have found in practice, that you find things you need to clean as you perform operations and get errors. Based on the error, you decide how you should go about cleaning the data

##### Drop rows of NAN

##### Get rid of text in order date column

#### Make columns correct type

### Augment data with additional columns

#### Add month column

#### Add month column (alternative method)

#### Add city column

## Data Exploration!

#### Question 1: What was the best month for sales? How much was earned that month?

#### Question 2: What city sold the most product?

#### Question 3: What time should we display advertisements to maximize likelihood of customer's buying product?

#### Question 4: What products are most often sold together?

#### What product sold the most? Why do you think it sold the most?